/Proyecto1/nbproject/private/
/Proyecto1/build/
/PetStore/nbproject/private/
/PetStore/build/
/ejercicios/ejercicio1/nbproject/private/
/ejercicios/ejercicio1/build/
/PetNursery/build/
/PetNursery/nbproject/private/